@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    /* width: 90%; */
    font-family: "Cormorant Garamond", serif;
    margin-top: 90px;
    margin-bottom: 60px;
    color: #333;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

a{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #333;
}

.container{

    margin: auto;
    width: calc(100% - 20px);
    max-width: 1200px;
    /* background-color: aqua; */
}

header {
    display: flex;
    flex-direction: column;
}
header a{
    color: #333;
    transition: .4s;
    border-radius: 8px;
}

header a:hover{
    background-color: #f0f0f0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTop {
    /* display: flex; */
    border-bottom: 1px solid #ddd;
    /* padding-bottom: 10px; */
}

.hero{
    position: relative;
    width: 100%;
    /* background-color: aqua; */
}

.heroInfo{
    position: absolute;
    /* display: inline-block; */
    /* background-color: aqua; */
    color: #ddd;
    width: 100%;
    top: 40%;
    height: 30%;
}

.videoHeader{
    color: #ddd;
    margin-top: 0px;
}

.hero video{
    width: 100%;
}

.left {
    list-style: none;
    display: flex;
}

.newLink{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-top: 60px;
    color: #f0f0f0;
    font-weight: 700;
    /* background-color: #ddd; */
}

.newLink img{
    width: 30px;
}

.left li {
    margin-right: 20px;
}

header a{
    line-height: 40px;
}

.left li a{
    text-decoration: none;
    color: #333;
}

.right {
    display: flex;
    align-items: center;
}

.tel {
    /* margin-right: 20px; */
    padding: 0 20px;
    text-decoration: none;
    color: #333;
}

.headerTop .right button {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    border: none;
    outline: 1px solid #ddd;
    transition: all 0.3s; /* Smooth transition for hover effect */
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 0 10px;
    color: #333;
}

.logo{
    display: flex;
    /* background-color: blue; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.category{
    margin-bottom: 120px;
}

.category .container{
    display: flex;
    flex-wrap: wrap;
}

.category .container h2{
    width: 100%;
}

.category .card{
    width: calc((100% - 30px) / 3);
}

.centerCard{
    margin-left: 15px;
    margin-right: 15px;
}

.category img{
    width: 100%;
    display: block;
}

.category p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    text-transform: uppercase;   
}

.collections{
    background-color: rgba(217, 217, 217, 0.824);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.collections .cardCollection{
    display: flex;
    align-items: center;
    width: 50%;
    padding-bottom: 60px;
    align-items: flex-end;
}

.collections h3{
    font-family: "Cormorant Garamond", serif;
}

.collections .men{
    background-image: url("img/men.webp");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.collections .taro{
    background-image: url('img/side.webp');
    background-size: cover;
    padding-left: 60px;
    color: #ddd;
}

.collections .charity{
    background-image: url('img/charity.webp');
    background-size: cover;
    justify-content: flex-end;
    padding-right: 60px;
    color: #ddd;
}

.collections .objects{
    background-image: url('img/books.webp');
    background-size: cover;
    justify-content: flex-end;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 60px;
}

.catalog{
    display: flex;
    font-weight: 700;
    align-items: center;
}

.catalog-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.tovarCards{
    /* background-color: aqua; */
    display: flex;
    gap: 30px;
}

.tovarCard{
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: green; */
    margin-bottom: 60px;
}

.tovarCards .tovarCard a{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("img/heart.svg");
    /* background-color: bisque; */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5000000px;
    width: 50px;
    height: 50px;
    opacity: .5;
    transition: .3s;
}

.tovarCards .tovarCard a:hover{
    opacity: 1;
}

.imgCard{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.imgCard img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.desc{
    margin-top: 15px;
    width: 100%;
}

.buy{
    /* display: ; */
    font-weight: 700;
    font-size: 18px;
}

.polosa{
    position: absolute;
    display: flex;
    /* background-color: rgb(255, 99, 99); */
    width: 100%;
    height: 2px;
    bottom: 5px;
}

.polosa .navImg{
    display: block;
    width: calc(100% / 4 - 10px);
    margin: 0px 5px;
    background-color: rgb(255, 255, 255);
    height: 2px;
}

.polosa .active{
    background-color: rgb(131, 131, 131);
}

.aboutUs h1{
    margin-top: 120px;
    margin-bottom: 60px;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
}

.aboutUs p{
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}